body{
	font-size: 100%;
	font-family: arial,sans-serif;
	padding-bottom: 1em;
}

.wrapper{
	max-width: 600px;
}

h2{
	background-color: #dedede;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	color: #fff;
	font-size: 1.1em;
	margin: 12px;
	padding: 0.3em 1em; 
	text-shadow: #9fbeb9 1px 1px 1px;
	text-transform: uppercase;
}

.hdr-account{
	background-color: #0b5586;
}

.hdr-emails{
	background-color: #717f88;
}

fieldset{
	background-color: #f1f1f1;
	border:none;
	border-radius: 2px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 0 0.625em;
}

.fields{
	background-color: #fff;
	border:1px solid #eaeaea;
	margin: 0.75em;
	padding: 0.75em;
}

.fields .row{
	margin: 0.5em 0;
}

label{
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px;
	text-align: right;
	width: 150px;
	vertical-align: top;
}

input,select,button{
	font:inherit;
}

.field-large{
	width: 250px;
}

select{
	padding-right: 1em;
}

.instructions {
	font-size: .75em;
	padding-left: 167px;
	font-style: italic;
	margin: .5em 0 1.2em;
}

.instructions kbd {
	font-size: 1.23em;
	font-style: normal;
}

.radios{
	background-color: transparent;
	position: relative;
	margin-bottom: 0;
}

.radios .row{
	margin: 0 0 0 150px;
}

.radios legend{
	left: 0;
	padding: 0 6px;
	position: absolute;
	text-align: right;
	top: 2px;
	width: 148px;
}

.radios label{
	padding-left: 2px;
	margin-right: 5px;
	vertical-align: middle;
	width: auto;
}
/*:::Checkboxes:::*/
.checkboxes label
{
	text-align: left;
	width: 475px;
}

.btn{
	background-color: #da820a;
	border:none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	color: #fff;
	margin: 12px 0 0 26px;
	padding: 8px;
	text-shadow: 1px 1px 0px #777;
}

input:checked +label
{
	color: green;
}

input:required,textarea:required{
	border:2px solid #33ff33;
}

input[type="email"]:invalid{
	color: red;
}