/* ::: HTML5 display definitions ::: */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* ::: Base ::: */
/**
 * Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ::: Links ::: */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/* ::: Typography ::: */
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/* ::: Embedded content ::: */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/* -- end of abridged normalize -- */

/* WEB ICON FONT
  (the social icons that appear
  in the upper-right corner)
------------------------------------------ */
@font-face {
  font-family: 'Social Icons';
  src: url("font/socialico-webfont.eot");
  src: url("font/socialico-webfont.eot?#iefix") format("embedded-opentype"), 
        url("font/socialico-webfont.woff") format("woff"), 
        url("font/socialico-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/*GENERAL(ADD TO ELEMENTS)
----------------------------------*/
body
{
	font:100%/1.2 Georgia,"Times New Roman",serif;
}

h1
{
	color: #212121;
	font-family: 'Lato',sans-serif;
	font-size: 3.25em;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: .975;
}

.about h2,.mod h2,.nav-main a
{
	font-family: 'Open Sans',sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.about h2,.mod h2
{
	font-size: 0.875em;
}

ul,ol
{
	list-style:none;
}

a
{
	color: #1162a4;
	text-decoration: none;

}

a:hover
{
	text-decoration: underline;
}

.more:after
{
	content: ">>";
}

img
{
	border:0;
}

/*containers
--------------------------------------*/
.page
{
	margin: 0 auto;
	width: 960px;
}

.container
{
	/*main和附注栏之间加一个分割线*/
	background: url(../img/bg.png) repeat-y 627px 0px;
	padding-bottom: 1.9375em;
}

main
{
	float: left;
	width: 600px;
}

/*MASTHRAD
---------------------------------------*/
.masthrad
{
	position: relative;
	padding: relative;
}

.logo
{
	font-size: 10px;
	line-height: 1;
	margin-bottom: -8px;
	margin-top: 0;
	text-align: left;
}

/* ::: Main Navigation ::: */
.nav-main
{
	border-bottom: 1px solid #c7c7c8;
	border-top: 5px solid #019443;
	margin-bottom: 0;
	padding: 0.45em 0 .5em;
}

.nav-main li
{
	border-left: 1px solid #c8c8c8;
	display: inline-block;
	text-align: left;
}

.nav-main li:first-child
{
	border-left: none;
}

.nav-main li:last-child a
{
	padding-right: 0;
}

.nav-main a
{
	color: #292929;
	display: inline-block;
	font-size: 1.125em;
	padding:0.5em 1.15em 0.5em 1.4em;
}

.nav-main a:hover
{
	color: #029443;
	text-decoration: none;
}

.nav-main .current-page,
.nav-main .current-page:hover
{
	color: #747474;
	cursor: default;
}

/* ::: Social Sites Icons ::: */
.masthead .social-sites
{
	position: absolute;
	top: 41px;
	right: -3px;
	margin:0;
	padding: 0;
}

.social-sites li
{
	display: inline;
	margin-left: 1px;
}

.social-sites a
{
	color: #019443;
	font-family: 'Social-Icons',sans-serif;
	font-size: 46px;
	line-height: 0.8;
}

.social-sites a:hover
{
	color: #1162a4;
	text-decoration: none;
}

/*FOOTER
----------------------------------------*/
footer[role="contentinfo"]
{
	border-top: 1px solid #cacbcb;
}


.sidebar
{
	float: right;
	width: 300px;
	margin-top: 1.875em;
}

.clearfix:before, .clearfix:after 
{ 
	content: " "; 
	display: table; 
} 
.clearfix:after 
{ 
	clear: both; 
} 
.clearfix 
{ 
	*zoom: 1;
}